{% extends "base.html" %} {% block title %} Add Expenses | CS2 {% endblock %} 
{% block content %}

<div class="w-full h-fit flex justify-between">
  <h1 class="text-3xl font-bold ml-5">Add Expenses here</h1>
  <div>
  
<a href="{% url 'add_expense_category' %}">
    <button class="btn mr-5">Add Expense Category
    </button>
  </a>
  <a href="{% url 'accounts' %}">
    <button class="btn mr-5">Back to Accounts
    </button>
  </a>
</div>
</div>

<div class="w-full h-[80vh] overscroll-y-auto flex justify-center">
  <form method="post" class="w-full h-full flex justify-center">
<div class="w-[30%] flex flex-col items-center justify-around h-full">

    {% csrf_token %}
    <select name="category" required class="select select-bordered w-full max-w-xs">
        {% for category in categorys %}
        <option>{{category.name}}</option>
        {% endfor %}
      </select>
      <input type="number" placeholder="Total Amount" name="amount" class="input input-bordered w-full max-w-xs" />
      <input type="date" placeholder="Date" name="date" class="input input-bordered w-full max-w-xs" />
      <textarea name="desc" id="desc" class="input input-bordered w-full max-w-xs" placeholder="Description about Expense"></textarea>
    <button class="btn mt-2" type="submit">Add Expense</button>

</div>
</form>
</div>




{% endblock %}