{% extends "base.html" %} {% block title %} The Coding Space Skardu {% endblock %} 
{% block content %}


<div class="w-full h-[70vh] flex flex-col justify-center items-center">
    <h1 class="text-3xl font-bold">Welcome to The Coding Space Skardu</h1>
    <br>
    <h2 class="font-thin text-2xl">The New Era of Technology</h2>
</div>


<!-- a page to show all the expenses and income of month and year
watch and download fee slip
download all the data of models e.g student to excel
sms to parents

 -->

{% endblock %}