{% extends "base.html" %} {% block title %} The Coding Space Skardu {% endblock %} 
{% block content %}


<div class="overflow-x-auto w-full flex justify-between flex-col items-center">
   

    <table class="table w-[90%]">
        <div class="w-full h-fit flex justify-between">
            <h1 class="text-3xl font-bold ml-5">Students List <br> <span class="text-xl font-bold">Total Students : {{total_students}}</span> </h1>
            <div>
            <a href="{% url 'due_fees' %}"
              ><button class="btn mr-5">Due Fees</button></a
            >
            <a href="{% url 'add_student' %}"
              ><button class="btn mr-5">Add Student</button></a
            ></div>
          </div>
        
      <!-- head -->
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Father's Name</th>
          <th>Course</th>
          <th>Phone Number</th>
          <th>Gender</th>
          <th>Monthly Fees</th>
          <th>Fee Details</th>
        
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        {% for student in students %}

        <tr class="bg-base-200">
          <th>{{student.id}}</th>
          <td><a href="{% url 'student_detail' student.id %}">{{student.name}}</a></td>
          <td>{{student.father_name}}</td>
          <td>{{student.course}}</td>
          <td>{{student.phone_number}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.monthly_fee}}</td>
          <td class="font-bold"><a href="{% url 'fee_detail' student.id %}">Check Fees</a></td>

       
        </tr>
        
        {% endfor %}

      </tbody>
    </table>
  </div>



{% endblock %}